@model BlindMatchPAS_Final.Models.ResearchArea

<h3>Add Research Area</h3>

<form asp-action="CreateArea">
    <input asp-for="Name" class="form-control mb-3" placeholder="Area Name" />
    <button class="btn btn-success">Save</button>
</form>